@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700);
body {
  background: #EDF0F4;
  font-size: 1.1em;
  font-family: 'Oxygen', sans-serif;
  padding: 0;
  margin: 0;
  color: #999;
  text-align: left;
  line-height: 1.5;
}

.post-body {
  background: #fff;
  max-width: 720px;
  margin: 5% auto;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.post-body p {
  padding: 0 30px;
}

.post-body img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  border: 0;
}



.separator {
  position: relative;
  clear: both;
  text-align: center;
  margin: 0 auto 30px auto;
  overflow: hidden;
  transition: all .6s ease;
}

.separator:before,
.separator.tiga:before,
.separator.empat:before,
.separator.lima:before,
.separator.enam:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #e67e22;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all .6s ease;
}



@media screen and (max-width:640px) {
  .post-body {
    margin: 5% 10px;
    border-radius: 5px;
  }
}