@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700);
body {
  background: #EDF0F4;
  font-family: 'Oxygen', sans-serif;
  padding: 0;
  margin: 0;
  color: #212529;
  line-height: 1.5;
  text-align: justify;
  font-size: 1rem;
  font-weight: 400;
}

.post-body {
  background: #fff;
  max-width: 750px;
  margin: 1% auto;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.post-body p {
  padding: 0 15px;
}

.post-body img {
  height: 100%;
  width: 100%;
  max-width: 100%;
  border: 0;
}

.separator {
  position: relative;
  clear: both;
  text-align: center;
  margin: 0 auto 10px auto;
  overflow: hidden;
}




@media screen and (max-width:640px) {
  .post-body {
    margin: 5% 10px;
    border-radius: 5px;
  }
}